<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="20250411"
    android:versionName="v1.4.0411"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    android:requiredSplitTypes="base__abi,base__density"
    android:splitTypes=""
    package="com.caglobal.kodakluma"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="30"/>
    <permission
        android:name="com.caglobal.kodakluma.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.caglobal.kodakluma.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/AppTheme_NoActionBar"
        android:label="@string/app_name"
        android:icon="@mipmap/lomaicon"
        android:name="com.caglobal.kodakluma.CustomApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:resizeableActivity="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity
            android:name="com.caglobal.kodakluma.activity.ScreenTutorialActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/Transparent"
            android:name="com.caglobal.kodakluma.activity.ShowBlurActivity"/>
        <activity
            android:theme="@style/dialogstyle"
            android:name="com.caglobal.kodakluma.activity.MainFunctionActivity"/>
        <activity
            android:theme="@style/CustomDialogDim"
            android:name="com.caglobal.kodakluma.activity.WirelessStorageSettingActivity"/>
        <activity
            android:theme="@style/BlackActTheme"
            android:name="com.caglobal.kodakluma.activity.AirMouseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/BlackActTheme"
            android:name="com.caglobal.kodakluma.activity.KeyboardActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible"/>
        <activity
            android:theme="@style/BlackActTheme"
            android:name="com.caglobal.kodakluma.activity.RemoteControlActivity"
            android:configChanges="fontScale|layoutDirection|locale"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.caglobal.kodakluma.activity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.caglobal.kodakluma.activity.QRCaptureActivity"/>
        <activity
            android:name="com.caglobal.kodakluma.activity.BindAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.caglobal.kodakluma.activity.LumaMainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.caglobal.kodakluma.activity.AnimActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.caglobal.kodakluma.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="fontScale|layoutDirection|locale"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/dialogstyle"
            android:name="com.caglobal.kodakluma.activity.ProFileActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.caglobal.kodakluma.activity.MediaActivity"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|layoutDirection|locale"/>
        <activity
            android:name="com.caglobal.kodakluma.activity.PlayerActivity"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|layoutDirection|locale"/>
        <activity
            android:name="com.caglobal.kodakluma.activity.PhotoActivity"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|layoutDirection|locale"/>
        <activity
            android:name="com.caglobal.kodakluma.activity.DocumentActivity"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|layoutDirection|locale"/>
        <activity
            android:name="com.caglobal.kodakluma.activity.CameraActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:theme="@style/AppTheme_FullScreen"
            android:name="com.caglobal.kodakluma.activity.ImageActivity"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|layoutDirection|locale"/>
        <activity
            android:name="com.caglobal.kodakluma.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|layoutDirection|locale"/>
        <activity
            android:theme="@style/AppTheme_FullScreen"
            android:name="com.caglobal.kodakluma.activity.MirrorNoteActivity"
            android:launchMode="singleTask"
            android:configChanges="fontScale|layoutDirection|locale"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.caglobal.kodakluma.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <service
            android:name="com.caglobal.kodakluma.service.MediaService"
            android:exported="false"/>
        <service android:name="com.caglobal.kodakluma.service.FloatingService"/>
        <service
            android:name="com.eshare.mirror.MirrorScreenCaptureService"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"/>
        <activity
            android:theme="@style/EShare_ThemeFullScreen"
            android:name="com.eshare.lib.TVMirrorActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.caglobal.kodakluma.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="4"/>
    </application>
</manifest>
